@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap');

@font-face {
  font-family: LatoBlack ;
  src: url("./fonts/Lato-Black.ttf") format('truetype');
}

@font-face {
  font-family: LatoBold;
  src: url("./fonts/Lato-Bold.ttf") format('truetype');

}

@font-face {
  font-family: LatoRegular;
  src: url("./fonts/Lato-Regular.ttf") format('truetype');

}

:root {
  --vari1: black;
  --taustavari: #35d6fd;
  --tekstiTausta: #ffffff;
  --hoverLinkki: #e5e5e5;
}

html, body {
  margin: 0;
  padding: 0 20px;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  position: sticky;
  display: flex;
  justify-content: flex-start;
  top: 0;
  width: 100%;
  padding: 10px 10px;
  background-color: white;
}

.mobileNav{
  display: none;
}

.links {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.links a {
  padding: 1%;
  margin: 0;
  color: var(--vari1);
  text-decoration: none;
  font-family: LatoBold;
  font-size: 1.5em;
}

.links a:hover {

  border: solid 1px var(--vari1);
  border-radius: 10px;
  margin: -1px;
  background-color: var(--taustavari);


}

.searchBar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;


}

.searchBar input {
  height: 30px;
  width: 70%;
  text-align: left;
  border: solid 2px var(--vari1);
  border-radius: 5px;
  padding-left: 30px;
}

.searchBar input:focus {
  outline: none !important;
  border-color: var(--vari1);
  box-shadow: 0 0 10px var(--vari1);
}

.barsIcon {
  display: none;
}

header {
  height: 20vh;
  min-height: 160px;
  display: flex;
  justify-content: center;
  z-index: 0;


}

#otsikko {
  font-family: 'Roboto Slab';
  font-weight: 800;
  font-size: 3.75em;
}

#slogan {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 1.43em;
}

.headerImage {
  height: inherit;
  background-image: url("black-frying-pan-with-spaghetti-sauce-near-brown-wooden-691114.jpg");

  background-size: 135%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  flex-grow: 1;
  position: relative;
  z-index: -1;

}

.headerText {
  display: flex;
  text-align: center;
  background-color: var(--taustavari);
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 20vh solid var(--taustavari);
  border-right: 20vh solid transparent;
}

.headerText p {
  margin: 0 !important;
}

.mainText {
  text-align: center;
  margin: 5vh;

}

.mainText h2 {
  font-family: LatoBold;
}

.mainText p {
  margin: 0 !important;
  font-family: LatoRegular;
  font-size: 1.5em;
  line-height: 1.5;
}

.ravintolat {
  display: flex;
  justify-content: space-evenly;

}

.ravintola {
  display: flex;
  border: 1px dashed var(--vari1);
  border-radius: 10px;
  background-color: var(--tekstiTausta);
  width: 40%;
  padding: 25px;

}

.dataHeader {
  display: flex;
  justify-content: space-around;
}

.logoFrame {
  display: flex;

}

.restaurantName {
  font-family: LatoBlack;
  font-size: 1.3em;
  margin-right: 10px;
}

.restaurantLogo {
  width: 8vw;
  height: 8vw;
  border: 1px solid black;
  margin: 25px;
}

.restaurantData {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.restaurantLocation {
  display: flex;
  position: relative;
  top: 10px;
  font-family: LatoRegular;
  font-size: 0.88em;
}

.menuText {
  font-family: LatoRegular;
  font-size: 1em;
}

.fa-map-marker-alt {
  position: relative;
  top: 15px;
  right: 5px;
}

.fa-search {
  color: var(--vari1);
  position: relative;
  left: 25px;
}

#langButtons {
  display: flex;
  justify-content: center;
}

#langButtons button {
  margin: 15px;
}

.ravintolatH3 {
  font-family: LatoBold;
  font-size: 1.5em;
  text-align: center;
}
.hide {
  display: none!important;
}

@media only screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  .searchBar input {
    width: 100%;
  }

  header {
    background-image: url("black-frying-pan-with-spaghetti-sauce-near-brown-wooden-691114.jpg");

  }

  .headerImage {
    display: none;
  }

  .headerText {
    background-color: var(--taustavari);
    padding: -10px;
  }

  .mobileNav {
    display: flex;
    justify-content: center;
    width: 100%;


  }
  .mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-family: LatoRegular;
    width: 100%;



  }
  .mobileLinks a {
    color: black;
    text-decoration: none;
    line-height: 1.5em;
    width: 100%;
    text-align: center;

  }
  .mobileLinks a:hover{
    background-color: var(--hoverLinkki);
  }

  .links {
    display: none;
  }

  .barsIcon {
    font-size: 2em;
    display: flex;
  }

  .searchBar {
    justify-content: left;
  }

  .searchIcon {
    display: none;
  }

  #search {
    display: none;
  }

  .restaurantLogo {
    margin-left: 0;

  }

  .ravintolat {
    flex-direction: column;
    align-items: center;
  }

  .ravintola {
    margin: 1vh;
    width: 80%;
  }

  .restaurantLogo {
    width: 12vw;
    height: 12vw;
  }

  html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }

  .mainText {
    text-align: center;
    margin: 2vh;

  }


  .mainText p {
    font-size: 1em;

  }

}

@media only screen and (max-height: 800px) {
  .triangle {
    border-bottom: 160px solid var(--taustavari) !important;
    border-right: 160px solid transparent !important;
  }
}

